@import "tailwindcss";

:root {
  --background: #f4f4f2;
  --foreground: #171717;
  --accent: #3bb33b;
  --secondary: #ff85d0;
}

.dark {
  --background: #1c1c1f;
  --foreground: #ededed;
  --accent: #3bb33b;
  --secondary: #ff85d0;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Georgia", "Times New Roman", serif;
}
